body {
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 6px gray;
}
h2 {
  font-size: 18px;
  text-align: center;
  margin-top: -30px;
}
span {
  font-size: x-large;
  text-shadow: 2px 2px 6px red;
}

label {
  font-family: Lemon milk;
  text-shadow: 3px 3px 5px;
  letter-spacing: 4px;
}

h3 {
  font-family: LEMON MILK;
}

article {
  border: 1px dashed black;
  padding-left: 2%;
  padding-right: 2%;
}
nav {
  text-align: center;
}
footer {
  vertical-align: baseline;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div header {
  font-size: x-large;
  font-family: LEMON MILK;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header p {
  font-size: 200px;
}

h6 {
  font-family: LEMON MILK;
  font-size: xx-large;
  margin-left: 20%;
}

h4 {
  border: 2px dashed black;
  padding-block: 20px;
  padding-inline: 20px;
}
